<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinirajjewels.jinirajjewels">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Rings"/>
        <activity
            android:name=".Earrings"/>
        <activity
            android:name=".Bangles"/>
        <activity
            android:name=".Necklace"/>
        <activity
            android:name=".Mangalsutra"/>
        <activity
            android:name=".Pendant"/>
        <activity android:name=".BanglesPhotoActivity"/>
        <activity android:name=".EarringsPhotoActivity"/>
        <activity android:name=".RingsPhotoActivity"/>
        <activity android:name=".MangalsutraPhotoActivity"/>
        <activity android:name=".NecklacePhotoActivity"/>
        <activity android:name=".PendantPhotoActivity"/>
        <activity android:name=".BuyNow"/>
        <activity android:name=".AboutUs"/>



    </application>

</manifest>